@model Product;

@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Product Information";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Information</title>
</head>
<body>
    Product Name: @Model.Name
</body>
</html>